node_modules
**/node_modules

dist
**/dist

build
frontend/dist

.git
.gitignore
.DS_Store
.idea
.vscode

coverage
tmp
logs

.env
.env.*
!.env.example
!backend/.env.example
!backend/.env.dev.example
!backend/.env.prod.example
!frontend/.env.example
!frontend/.env.prod.example
